.our-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .client-list {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .client {
    margin-right: 20px; 
  }
  
  .client img {
    width: 250px;
    height: 100%;
  }
  