.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black; 
    margin-top: 110px;
    height: 100vh; 
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}
.hero-left,
.hero-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.hero-left {
    left: 0; 
}

.hero-right {
    right: 0; 
}

.hero-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-middle {
    text-align: center;
    max-width: 600px;
    font-family: Arial, sans-serif;
    z-index: 1;
    margin-left: 300px;
}

.hero-middle h1 {
    font-size: 2em;
    line-height: 1.4;
    color: #fff;
    padding: 0 20px; 
}
